/*!
 * Step Form Wizard
 * Jiri Wasniowski - <ajoke3@gmail.com>
 * http://codecanyon.net/item/step-form-wizard/8591111
 * Version 2.0 - built July 16 2015
 */
$img_path: '../img/';

@import 'step-form-wizard';

/* ******** THEMES *********/
@import 'themes/sea';








