@{
    Layout = "~/Views/Shared/Layout/Main.cshtml";
    //var GetListProduct = new BuMahi.Data.BLL.Admin.Product.ProductBLL().GetListProduct().Where(b => b.IsActive == true).ToList();
}

@section CssPlugins
{
    <link href="~/Content/unify/assets/css/pages/page_search.css" rel="stylesheet" />
    <link href="~/Content/unify/assets/css/blocks.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/unify/assets/plugins/revolution-slider/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Content/unify/assets/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/unify/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/Content/unify/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
}

@section styles
{
    <link href="~/Content/css/custom-main-page.css" rel="stylesheet" />
    <style>
        .autocomplete-suggestions {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #999;
            background: #FFF;
            cursor: default;
            overflow: auto;
            -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
            -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
            box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }

        .autocomplete-no-suggestion {
            padding: 2px 5px;
        }

        .autocomplete-selected {
            background: #F0F0F0;
        }

        .autocomplete-suggestions strong {
            font-weight: bold;
            color: #000;
        }

        .autocomplete-group {
            padding: 2px 5px;
            font-weight: bold;
            font-size: 16px;
            color: #000;
            display: block;
            border-bottom: 1px solid #000;
        }
    </style>
}

<div class="search-block parallaxBg" style="background-position: 50% 16px;">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            @*<h1>اپ های <span class="color-green">جدید</span> کنید</h1>*@

            <div class="input-group">
                <input type="text" id="txtSearch" class="form-control" placeholder="جستجو ...">
                <span class="input-group-btn">
                    <button class="btn-u btn-u-lg" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>

            <form action="" class="sky-form page-search-form"></form>
        </div>
    </div>
</div>

@Html.Action("AppList", "Home")

@Html.Action("AppVistList", "Home")

@Html.Action("AppLowSize", "Home")

@section JSPlugins
{
    <script src="~/Content/unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/unify/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="~/Scripts/jQueryAutocomplete/jquery.autocomplete.min.js"></script>
}
@section JSPageLevel
{
    <script src="~/Content/unify/assets/js/plugins/owl-carousel-rtl.js"></script>
    <script src="~/Content/unify/assets/js/plugins/revolution-slider.js"></script>
    <script src="~/Content/unify/assets/js/plugins/style-switcher-rtl.js"></script>
    <script src="~/Content/unify/assets/js/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>
}

@section Scripts
{
    <script>
        jQuery(document).ready(function () {
            App.initParallaxBg();
            OwlCarousel.initOwlCarousel();
            RevolutionSlider.initRSfullWidth();
            StyleSwitcher.initStyleSwitcher();
        });


        $(document).ready(function () {
            $('#txtSearch').autocomplete({
                minChars: 3,
                serviceUrl: '/Home/search',
                paramName: 'q',
                dataType: 'json',
                transformResult: function (response) {
                    return {
                        suggestions: $.map(response, function (dataItem) {
                            return { value: dataItem.AppName, data: { Id: dataItem.Id } };
                        })
                    };
                },
                onSelect: function (suggestion) {
                    var url = '';
                    url = `/App/index?id=${suggestion.data.Id}`
                    window.open(
                        url,
                        '_blank'
                    );
                }
            });
        });

    </script>


}