/*!
 * Step Form Wizard
 * Jiri Wasniowski - <ajoke3@gmail.com>
 * http://codecanyon.net/item/step-form-wizard/8591111
 * Version 2.0 - built July 16 2015
 */
/* clearfix */
clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.sf-left {
  float: left; }

.sf-right {
  float: right; }

.sf-step > .sf-step-el {
  border: none;
  margin: 0;
  padding: 0;
  display: block; }

.sf-wizard {
  position: relative; }
  .sf-wizard.sf-rtl {
    direction: rtl; }

.sf-hide-legend .sf-step-name, .sf-hide-buttons {
  display: none; }

.sf-nav {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 4; }

.sf-viewport {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  transition: height 1s; }

.sf-viewport .sf-step-name {
  font-size: 20px;
  padding: 15px 0px;
  font-weight: bold;
  background: none;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px; }

.sf-btn.sf-btn-finish {
  margin: 0 0 0 15px; }

.sf-btn.sf-btn-disabled {
  cursor: default; }

.sf-nav-bottom {
  margin-top: 6px; }

.sf-nav-wrap {
  overflow: hidden;
  width: 100%;
  position: relative;
  left: 0; }

.sf-nav-top, .sf-nav-bottom {
  height: 40px;
  -ms-overflow-style: none;
  -ms-scroll-chaining: none;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapInterval(0%, 100%); }

.sf-nav-top .sf-nav, .sf-nav-bottom .sf-nav {
  width: 9999px;
  position: absolute; }

.sf-nav-left {
  float: left;
  width: 20%;
  height: auto;
  overflow: hidden; }

.sf-nav-right {
  float: right;
  width: 20%;
  height: auto; }

.sf-nav-wrap.sf-nav-left li, .sf-nav-wrap.sf-nav-right li {
  float: none;
  margin-bottom: 10px; }

.sf-nav li {
  float: left;
  position: relative;
  margin-right: 10px; }

.sf-rtl .sf-nav-top .sf-nav-step, .sf-rtl .sf-nav-bottom .sf-nav-step {
  float: right; }
.sf-rtl .sf-nav-on-right {
  float: left;
  margin-right: 0; }

.sf-nav li.sf-nav-link:not(.sf-nav-step-disabled) {
  cursor: pointer; }

.sf-nav-right li, sf-nav-left li {
  padding-right: 10px; }

.sf-nav-on-left {
  width: 80%;
  margin-left: 20%; }

.sf-nav-on-right {
  width: 80%;
  margin-right: 20%; }

.sf-nav-right li {
  margin-right: 0;
  margin-left: 10px; }

.sf-step > .sf-step-el {
  overflow: auto;
  overflow-x: hidden; }

.sf-step-no-active {
  height: 1px; }
  .sf-step-no-active > .sf-step-el {
    display: none; }

li.sf-li-nonumber {
  text-align: center; }

.sf-li-nonumber .sf-nav-number {
  display: none; }

.sf-wizard .sf-btn, .sf-content .nocsript-sf-btn {
  padding: 0 35px; }

.sf-wizard > .sf-content {
  box-sizing: border-box; }

.sf-controls {
  z-index: 4; }
  .sf-controls input {
    margin: 0; }

.sf-viewport {
  width: 100%;
  position: relative;
  perspective: 1000px; }

.sf-fieldwrap {
  width: 100%;
  height: 100%;
  position: relative; }
  .sf-fieldwrap .sf-step {
    width: 100%;
    position: absolute;
    padding: 20px;
    display: none; }
  .sf-fieldwrap .sf-step.sf-step-front, .sf-fieldwrap .sf-step.sf-step-right, .sf-fieldwrap .sf-step.sf-step-left {
    display: block; }

.sf-3d-cube .sf-fieldwrap {
  transform-style: preserve-3d; }
  .sf-3d-cube .sf-fieldwrap .sf-step {
    background: #FFF; }

.sf-fade .sf-fieldwrap .sf-step.sf-step-right, .sf-fade .sf-fieldwrap .sf-step.sf-step-left {
  display: none; }

.sf-btn-next, .sf-btn-prev, .sf-btn-finish {
  display: none;
  cursor: pointer; }

.sf-nav-step-disabled {
  cursor: auto; }

.spinner {
  margin: 2px auto 0;
  width: 70px;
  text-align: center; }

.spinner > div {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #FFF;
  display: inline-block;
  margin-right: 2px;
  -webkit-animation: sf-bounce 1.2s infinite ease-in-out;
  animation: sf-bounce 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner .ball-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .ball-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sf-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sf-bounce {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@media screen, projection {
  .sf-wizard *, .sf-wizard *:after, .sf-wizard *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }
/* ******** THEMES *********/
.sf-t4 {
  font-family: sans-serif; }
  .sf-t4 .sf-nav-top, .sf-t4 .sf-nav-bottom {
    height: 80px; }
  .sf-t4.sf-nonumbers .sf-nav-top, .sf-t4.sf-nonumbers .sf-nav-bottom {
    height: 50px; }
  .sf-t4 .sf-nav-top {
    padding-bottom: 20px; }
  .sf-t4 .sf-nav {
    margin-bottom: 25px; }
  .sf-t4 .sf-nav li {
    font-size: 13px;
    color: #7a7a7a;
    height: 60px;
    line-height: 40px;
    text-align: left;
    margin-right: 0px;
    padding: 30px 40px 0 0px;
    font-weight: 400; }
  .sf-t4.sf-rtl .sf-nav li {
    padding: 30px 0 0 40px; }
  .sf-t4 .sf-nav li.sf-active, .sf-t4 .sf-nomob .sf-nav li.sf-nav-link:hover:not(.sf-nav-step-disabled):not(.sf-nav-unlink),
  .sf-t4 .sf-mob .sf-nav li.sf-nav-link:active:not(.sf-nav-step-disabled):not(.sf-nav-unlink) {
    color: #b21948; }
  .sf-t4 .sf-nav-top li, .sf-t4 .sf-nav-bottom li {
    background: url("../img/t2-nav-bg.png") repeat-x left 15px transparent; }
  .sf-t4 .sf-nav-top li:last-child, .sf-t4 .sf-nav-bottom li:last-child {
    background: none; }
  .sf-t4 .sf-nav li.sf-li-nonumber {
    background: none;
    height: 30px;
    padding-top: 0;
    line-height: 30px; }
  .sf-t4 .sf-nav-top li.sf-active {
    margin-top: 0px; }
  .sf-t4.sf-fade .sf-nav-on-top .sf-viewport, .sf-t4.sf-fade .sf-nav-on-bottom .sf-viewport, .sf-t4.sf-slide .sf-nav-on-top .sf-viewport, .sf-t4.sf-slide .sf-nav-on-bottom .sf-viewport, .sf-t4.sf-none .sf-nav-on-top .sf-viewport, .sf-t4.sf-none .sf-nav-on-bottom .sf-viewport {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada; }
  .sf-t4 .sf-nav-on-left {
    border-left: 1px solid #dadada;
    padding-left: 20px; }
    .sf-t4 .sf-nav-on-left .sf-controls {
      padding: 0 20px; }
  .sf-t4 .sf-nav-on-right {
    border-right: 1px solid #dadada;
    padding-right: 20px; }
    .sf-t4 .sf-nav-on-right .sf-controls {
      padding: 0 20px; }
  .sf-t4 .sf-nav-wrap.sf-nav-left li, .sf-t4 .sf-nav-wrap.sf-nav-right li {
    padding: 0px 20px 0 40px;
    height: 30px;
    margin-bottom: 30px;
    line-height: 30px; }
  .sf-t4 .sf-nav-wrap.sf-nav-right li {
    margin-left: 20px; }
  .sf-t4 .sf-nav-right li.sf-li-nonumber, .sf-t4 .sf-nav-left li.sf-li-nonumber {
    padding-left: 0;
    margin-bottom: 10px; }
  .sf-t4 .sf-nav-number {
    transition: all 200ms;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    height: 30px;
    width: 30px;
    border: 1px solid #a3a3a3;
    text-align: center;
    color: #7a7a7a; }
  .sf-t4 li.sf-nav-unlink {
    color: #929292; }
    .sf-t4 li.sf-nav-unlink .sf-nav-number {
      border-color: #c1c1c1;
      color: #929292; }
  .sf-t4.sf-rtl .sf-nav-number {
    left: auto;
    right: 0; }
  .sf-t4.sf-rtl .sf-nav-left li {
    padding-left: 0px;
    padding-right: 45px;
    margin-right: 20px;
    text-align: right; }
    .sf-t4.sf-rtl .sf-nav-left li.sf-li-nonumber {
      padding-right: 0; }
  .sf-t4.sf-rtl .sf-nav-right li {
    padding-right: 45px;
    padding-left: 0px;
    margin-right: 20px;
    text-align: right; }
    .sf-t4.sf-rtl .sf-nav-right li.sf-li-nonumber {
      padding-right: 0; }
  .sf-t4 .sf-nav li.sf-nav-step-disabled .sf-nav-number {
    background: #f3f3f3; }
  .sf-t4 .sf-nav li.sf-nav-mark-step:not(.sf-nav-step-disabled) .sf-nav-number {
    background: #F22B4A;
    color: #FFF;
    border-color: #F22B4A; }
  .sf-t4 .sf-nav li.sf-active .sf-nav-number {
    background: #b21948;
    color: #FFF;
    border-color: #b21948; }
  .sf-t4 .sf-li-number .sf-nav-subtext {
    padding-left: 0px; }
  .sf-t4.sf-wizard .sf-btn, .sf-t4 .sf-content .nocsript-sf-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    border: 1px solid #a3a3a3;
    color: #7a7a7a;
    text-decoration: none;
    background: #FFF; }
  .sf-t4.sf-wizard.sf-nomob .sf-btn:not(.sf-btn-disabled):hover, .sf-t4.sf-wizard.sf-mob .sf-btn:not(.sf-btn-disabled):active {
    background: #b21948;
    color: #FFF;
    border-color: #b21948; }
  .sf-t4.sf-wizard .sf-btn.sf-btn-disabled {
    background: #f3f3f3; }
  .sf-t4.sf-wizard .sf-nav-on-bottom {
    padding-bottom: 10px; }
    .sf-t4.sf-wizard .sf-nav-on-bottom .sf-controls {
      margin-bottom: 20px; }
  .sf-t4.sf-3d-cube .sf-step {
    background: #FFF; }
  .sf-t4.sf-3d-cube .sf-nav-on-top .sf-step, .sf-t4.sf-3d-cube .sf-nav-on-bottom .sf-step {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada; }
  .sf-t4 .spinner > div {
    background: #b21948; }

@media all and (max-width: 992px) {
  .sf-t4 .sf-nav-smmob.sf-nav-top, .sf-t4 .sf-nav-smmob.sf-nav-bottom {
    height: 55px; }
  .sf-t4 .sf-nav-smmob .sf-nav li {
    padding: 0 50px 0 0;
    width: 30px; }
  .sf-t4 .sf-nav-smmob .sf-nav li .sf-nav-subtext {
    display: none; }
  .sf-t4 .sf-nav-smmob .sf-nav li.sf-li-nonumber .sf-nav-number {
    display: block; }
  .sf-t4 .sf-nav-smmob .sf-nav-left .sf-nav li {
    margin-right: 50px;
    padding: 0; }
  .sf-t4.sf-nav-wrap.sf-nav-right li {
    padding: 0; }
  .sf-t4 .sf-nav-wrap.sf-nav-left li, .sf-t4.sf-nav-wrap.sf-nav-right li {
    margin-bottom: 10px; }
  .sf-t4 .sf-nav-left .sf-nav li {
    margin-right: 0px; }
  .sf-t4.sf-rtl .sf-nav-left .sf-nav li {
    padding-right: 40px;
    padding-left: 0px;
    margin-right: 15px; }
    .sf-t4.sf-rtl .sf-nav-left .sf-nav li.sf-li-nonumber {
      padding-right: 15px; }
  .sf-t4.sf-rtl .sf-nav-right .sf-nav li {
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 50px; }
    .sf-t4.sf-rtl .sf-nav-right .sf-nav li.sf-li-nonumber {
      padding-right: 0px; }
  .sf-t4.sf-rtl .sf-nav-smmob.sf-nav-right .sf-nav li {
    padding-left: 0px; }
    .sf-t4.sf-rtl .sf-nav-smmob.sf-nav-right .sf-nav li.sf-li-nonumber {
      padding-left: 50px; }
  .sf-t4.sf-rtl .sf-nav-smmob.sf-nav-left .sf-nav li {
    padding-left: 30px;
    padding-right: 0px; }
    .sf-t4.sf-rtl .sf-nav-smmob.sf-nav-left .sf-nav li.sf-li-nonumber {
      padding-right: 0px; }
  .sf-t4.sf-wizard .sf-btn {
    padding: 0 10px; } }

/*# sourceMappingURL=step-form-wizard-simple.css.map */
