<div class="col-md-3 md-margin-bottom-40">
    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
        <li class="list-group-item">
            <a href="/User"><i class="fa fa-tachometer"></i> داشبورد</a>
        </li>
        <li class="list-group-item list-toggle active">
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-order" class="collapsed" aria-expanded="false"><i class="fa fa-shopping-cart" aria-hidden="true"></i>سفارشات</a>
            <ul id="collapse-order" class="collapse in" aria-expanded="false">
                <li><a href="/User/Apps"><i class="fa fa-list-ul"></i> اپ های دانلود شده</a></li>
            </ul>
        </li>
        <li class="list-group-item list-toggle active">
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-setting" class="collapsed" aria-expanded="false"><i class="fa fa-cog"></i>تنظیمات کاربری</a>
            <ul id="collapse-setting" class="collapse in" aria-expanded="false">
                @*<li><a href="/User/Profile">
                    <i class="fa fa-cog"></i>
                    اطلاعات شخصی</a></li>
                <li>
                    <a href="/User/Profile/ChangePassword"><i class="fa fa-tachometer"></i> تغییر رمز عبور</a>
                </li>*@
            </ul>
        </li>
    </ul>
</div>