@using MvcSiteMapProvider.Web.Html

<div class="page-sidebar" id="sidebar">
    @*<div class="sidebar-header-wrapper">
            <input type="text" class="searchinput" />
            <i class="searchicon fa fa-search"></i>
            <div class="searchhelper">جستجو در منوها، گزارش ها، آمار و اطلاعات</div>
        </div>*@
  @Html.MvcSiteMap().Menu()
</div>