
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <div class="navbar-header pull-right">
                <a href="~/" class="navbar-brand">
                    <small>
                        <img src="" alt="مدیریت سایت" />
                    </small>
                </a>
            </div>
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <div class="navbar-header pull-left">
                <div class="navbar-account">
                    <ul class="account-area">


                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile">
                                    <img src="~/Content/beyond/assets/img/avatars/adam-jansen.jpg" />
                                </div>
                                <section>
                                    <h2>
                                        <span class="profile">
                                            <span>مینا یزدانی </span>
                                        </span>
                                    </h2>
                                </section>
                            </a>
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username">
                                    <a>Mina</a>
                                </li>
                                <li class="email">
                                    <a>mina.yazdanii@gmail.com</a>
                                </li>
                                <!--Avatar Area-->
                                <li>
                                    <div class="avatar-area">
                                        <img src="~/Content/beyond/assets/img/avatars/adam-jansen.jpg" class="avatar">
                                        <span class="caption">تغییر تصویر</span>
                                    </div>
                                </li>
                                <!--Avatar Area-->
                                <li class="edit">
                                    <a href="~/profile.html" class="pull-left">پروفایل</a>
                                    <a href="#" class="pull-right">تنظیمات</a>
                                </li>
                                <!--Theme Selector Area-->
                                <li class="theme-area">
                                    <ul class="colorpicker" id="skin-changer">
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #5DB2FF;" rel="/Content/beyond/assets/css/skins/blue.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #2dc3e8;" rel="/Content/beyond/assets/css/skins/azure.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #03B3B2;" rel="/Content/beyond/assets/css/skins/teal.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #53a93f;" rel="/Content/beyond/assets/css/skins/green.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #FF8F32;" rel="/Content/beyond/assets/css/skins/orange.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #cc324b;" rel="/Content/beyond/assets/css/skins/pink.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #AC193D;" rel="/Content/beyond/assets/css/skins/darkred.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #8C0095;" rel="/Content/beyond/assets/css/skins/purple.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #0072C6;" rel="/Content/beyond/assets/css/skins/darkblue.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #585858;" rel="/Content/beyond/assets/css/skins/gray.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #474544;" rel="/Content/beyond/assets/css/skins/black.min.css"></a>
                                        </li>
                                        <li>
                                            <a class="colorpick-btn" href="#" style="background-color: #001940;" rel="/Content/beyond/assets/css/skins/deepblue.min.css"></a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/Theme Selector Area-->
                                <li class="dropdown-footer">
                                    <a href="/Account/SignOut">
                                        خروج از سیستم
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="setting">
                        <a id="btn-setting" title="Setting" href="#">
                            <i class="icon glyphicon glyphicon-cog"></i>
                        </a>
                    </div>
                    <div class="setting-container">
                        <label>
                            <input type="checkbox" id="checkbox_fixednavbar">
                            <span class="text">نوار بالایی ثابت</span>
                        </label>
                        <label>
                            <input type="checkbox" id="checkbox_fixedsidebar">
                            <span class="text">منوی کناری ثابت</span>
                        </label>
                        <label>
                            <input type="checkbox" id="checkbox_fixedbreadcrumbs">
                            <span class="text">نوار بردکرامبز ثابت</span>
                        </label>
                        <label>
                            <input type="checkbox" id="checkbox_fixedheader">
                            <span class="text">نوار میانی ثابت</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
