<div class="shop-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-8 md-margin-bottom-20">
                <h2>در <strong>خبرنامه</strong> ما عضو شوید و از تخفیفات ما آگاه شوید</h2>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" id="TxtEmailNewsLetters" class="form-control" placeholder="ایمیل تان را وارد کنید...">
                    <span class="input-group-btn">
                        <button onclick="NewsLetters()" class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div><!--/end container-->
</div>

<!--=== Footer v4 ===-->
<div class="footer-v4">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-6 md-margin-bottom-40">
                    <a href="index.html"><img class="footer-logo" src="../assets/img/logo-2.png" alt=""></a>
                    <p class="certif-text"></p>
                    <br>

                    <ul class="list-inline shop-social">
                        <li><a href="#"><i class="fb rounded-md fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="tw rounded-md fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="gp rounded-md fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="yt rounded-md fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- End About -->


                <div class="col-md-3 col-sm-3" style="margin-top:40px">
                    <div class="heading-footer"><h2>تماس با ما</h2></div>
                    <ul class="list-unstyled address-list margin-bottom-20">
                        <li><i class="radius-3x fa fa-map-marker"></i>بندر بوشهر،خیابان شهید مطهری-کوچه عرفان24-پلاک16</li>
                        @*<li><i class="radius-3x fa fa-phone"></i>تلفن :  </li>*@
                        <li><i class="radius-3x fa fa-phone"></i>موبایل : 09172706004 </li>
                        <li><i class="fa fa-envelope"></i>ایمیل : info[At]mahimart.com </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4" style="margin-top:40px">
                    <div class="heading-footer"><h2>مجوز ها</h2></div>
                    <div class="col-md-12 col-sm-12 col-xs-12 certif-logo">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-6">
                                <img src="https://trustseal.enamad.ir/logo.aspx?id=83308&amp;p=GV3HSgHSEtw8evNL" alt="" onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=83308&amp;p=GV3HSgHSEtw8evNL&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&quot;)" style="cursor:pointer" id="GV3HSgHSEtw8evNL">
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-6">
                                <img id="jxlzjxlznbqejxlzrgvjjzpe" style="cursor:pointer" onclick="window.open(&quot;https://logo.samandehi.ir/Verify.aspx?id=112137&amp;p=rfthrfthuiwkrfthxlaojyoe&quot;, &quot;Popup&quot;,&quot;toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30&quot;)" alt="logo-samandehi" src="https://logo.samandehi.ir/logo.aspx?id=112137&amp;p=nbpdnbpdodrfnbpdqftiyndt">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- End Simple List -->
            </div><!--/end row-->
        </div><!--/end continer-->
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p>
                        @DateTime.Now.Year &copy; کلیه حقوق این وب سایت محفوظ و متعلق به مجموعه فروشگاه اپلیشکیشن می باشد.
                    </p>
                </div>
            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer v4 ===-->

