

@{
    ApplicationShop.Models.BLL.Main.IMainSite _IMainSite;
    _IMainSite = new ApplicationShop.Models.BLL.Main.MainSiteBLL();
}

<style>
    .btn-register {
        background: #5cac19 !important;
        -webkit-background: #5cac19 !important;
        -moz-background: #5cac19 !important;
        color: #fff !important;
        border: none;
        text-align: center;
        margin-top: 4px;
        padding: 4px 10px;
        font-family: IranSans;
    }

    .btn-login {
        background: #009cde !important;
        -webkit-background: #009cde !important;
        -moz-background: #009cde !important;
        color: #fff !important;
        border: none;
        text-align: center;
        margin-top: 4px;
        padding: 4px 10px;
        font-family: IranSans;
    }

    .btn-logout {
        background: #c0392b !important;
        -webkit-background: #009cde !important;
        -moz-background: #009cde !important;
        color: #fff !important;
        border: none;
        text-align: center;
        margin-top: 4px;
        padding: 4px 10px;
        font-family: IranSans;
    }

    .btn-dashboard {
        background: #009cde !important;
        -webkit-background: #009cde !important;
        -moz-background: #009cde !important;
        color: #fff !important;
        border: none;
        text-align: center;
        margin-top: 4px;
        padding: 4px 10px;
        font-family: IranSans;
    }
</style>
<div class="header-v5 header-static">
    <!-- Topbar v3 -->
    <div class="topbar-v3">
        <div class="search-open">
            <div class="container">
                <input type="text" class="form-control" placeholder="Search">
                <div class="search-close"><i class="icon-close"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-sm-6">

                    @if (User.Identity.IsAuthenticated)
                    {
                        var GetItm = _IMainSite.GetMainSiteHomeLogin(Int32.Parse(User.Identity.Name));
                        if (_IMainSite.IsUser(Int32.Parse(User.Identity.Name)))
                        {
                            <span class="label label-sea"><i class="fa fa-user"></i> @GetItm.FullName خوش آمدید</span>
                            <a href="~/User" class="btn btn-dashboard no-padding"><i class="fa fa-tachometer"></i> داشبورد کاربری</a>
                            <a href="/Account/SignOut" class="btn btn-logout no-padding"><i class="fa fa-sign-out"></i> خروج از سایت</a>
                        }
                    }
                    else
                    {
                        <ul class="list-inline right-topbar">
                            <li><a href="/Account/Register" class="btn btn-register no-padding"><i class="fa fa-lock"></i> ثبت نام </a>  <a href="/Account/Login" class="btn btn-login no-padding"><i class="fa fa-user"></i> ورود به سایت</a></li>
                        </ul>
                    }
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline right-topbar pull-right">
                        <li><i class="search fa fa-search search-button"></i></li>
                    </ul>
                </div>
            </div>
        </div><!--/container-->
    </div>
    <!-- End Topbar v3 -->
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img id="logo-header" src="/assets/img/logo.png" alt="Logo" style="width: 240px; height: 60px;">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <!-- Shopping Cart -->
                <div id="ShoppingCartModal">
                </div>
                <!-- End Shopping Cart -->
                <!-- Nav Menu -->
                <ul class="nav navbar-nav">

                    <li><a href="/">خانه</a></li>
                    <li><a href="https://blog.mahimart.com">وبلاگ</a></li>
                    <li><a href="/Faq"> سوالات متداول</a></li>
                    <li><a href="/Terms">قوانین و مقررات</a></li>
                    <li><a href="/About">درباره ما</a></li>

                    <!-- Main Demo -->
                    <li><a href="/Contact/Index">تماس با ما</a></li>
                    <!-- Main Demo -->
                </ul>
                <!-- End Nav Menu -->
            </div>
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v5 ===-->
